.env
.env.*
!.env.example
tsconfig.tsbuildinfo
*.local
*.tar
.DS_Store
*~
*.log
*.tmp
*.tmp.*
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.history/
.firebase/
log.txt
Thumbs.db
npm-debug.log*
safelist.txt

node_modules
build
dist

_staging_data_set.sql
tests/hasura_metadata.json
.auth0/**/config.json
Caddyfile

# Cypress
testsE2E/cypress/screenshots/
testsE2E/cypress/videos/

#jsodc
out
